/* Global Reset */

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
button,
input,
textarea,
form,
fieldset,
legend,
table,
td,
th,
tr,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  line-height: 1.6;
}

/* Layout */

.App {
  display: flex;
  flex-direction: column;
}

/* Header */

.MuiAppBar-root {
  z-index: 1201;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
  color: white;
}
#table_container {
  width: 120%;
}
#pagination {
  color: #000;
}

/* Side Menu */

.MuiDrawer-paper {
  width: 340px;
  background-color: #f4f4f4;
  top: 64px;
}

/* Main Content */

.mainContent {
  display: flex;
  flex-grow: 1;
}

.contentArea {
  flex-grow: 1;
  padding: 24px 0px;
  margin-top: 64px;
}

/* Tables */

.MuiTable-root {
  border-collapse: collapse;
}

.MuiTableCell-root {
  padding: 12px;
  border: 1px solid #ddd;
}
.columns {
  font-size: 16px !important;
  font-weight: 600 !important;
}
.MuiTableHead-root {
  background-color: #d0d0d0;
}
.MuiTable-root {
  width: 120%; /* Make the table span full width */
  border-collapse: collapse;
}

.MuiTableCell-root {
  padding: 12px;
  border: 1px solid #ddd;
}

.MuiTableHead-root {
  background-color: #f5f5f5;
}

/* Pagination */

.MuiTablePagination-root {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
